.videocardFilter-container {
    gap: 5px;
    padding-top: 1rem;
    justify-content: center;
}

.btn__primary_outline {
    background-color: white;
    border-radius: 10px;
    color: black;
    font-weight: 600;
    border-radius: 48px;
    padding: 9px 30px;
}

.btn__primary_outline:focus,
.btn__primary_outline:hover {
    background-color: var(--primary-color);
    color: white;
}

.videoList-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 20rem));
    grid-gap: 2rem;
    justify-content: start;
    line-height: 1.2;
    padding-top: 1rem;
}

.videocard {
    position: relative;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    transition: all 0.5s ease-in-out;
}

.videocard:hover,
.videocard:focus {
    background-color: hsl(0, 0%, 83%);
    font-weight: 900;
    color: black;
}

.duration {
    color: whitesmoke;
    position: absolute;
    right: -4%;
    bottom: 34%;
    background-color: #000000CC;
    width: 4rem;
    height: 1.5rem;
    font-weight: 700;
    padding: 5px;
    margin-right: 1rem;
}

.card-dimension {
    height: 11rem;
}


.content-discription {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: start;
}

.light {
    color: hsl(220, 9%, 46%);
}

