
.Modal{
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-color: #00000099;
 z-index: 1;
}


.Playlist {
 position: absolute;
 top: 50%;
 left: 50%;
}

.Playlistmodel {
 width: 13rem;
 display: flex;
 flex-wrap: wrap;
 background-color: white;
}


.create-playlist-container {
  box-shadow: #00000099;
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;
}



.createPlaylist-input {
  width: 13rem;
  background-color: white;
}


.input-text {
  border: none;
  outline: none;
  border-bottom:  1px solid black;
  width: 80%;
}


.model-btn {
  padding: 0.5rem;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s all;
  border: none;
  margin-top: 5px;
}

